@import './../style/main.scss';

.section {
  width: 100%;
  display: flex;
  flex-direction: row;

  &:nth-of-type(odd){
    .image-placeholder{
      order: 1;
    }
    .info{
      order: 2;
    }
  }
  &:nth-of-type(even){
    .image-placeholder{
      order: 2;
    }
    .info{
      order: 1;
    }
  }

  @include media-breakpoint-up(lg) {
    &:not(:first-of-type) {
      margin-top: 50px;
    }
  }

  .image-placeholder {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .img {
    height: 350px;

    @include media-breakpoint-up(sm){
      height: 400px
    }

    @include media-breakpoint-up(md){
      height: 450px
    }

    @include media-breakpoint-up(lg){
      height: 500px
    }

    @include media-breakpoint-up(xl){
      height: 600px
    }
  }

  .info {
    padding: 15px;

    @include media-breakpoint-up(sm){
      padding: 15px;
    }

    .title {
      color: $high-emphasys-text;
    }
    .subtitle,
    .text {
      color: $low-emphasys-text;
    }
  }
}

#band-section {
  .img {
    @include media-breakpoint-up(lg){
      height: 400px
    }
  }
}