//  Overriding bootstrap's default variables before loading it
$primary:       #000;
$secondary:     #d9580c;
$light:         #fefefe;
$dark:          #000;
$link:          #0C8DD9;

$high-emphasys-text: rgba(255,255,255,.82);
$low-emphasys-text: rgba(255,255,255,.65);

$navbar-dark-color:                 $low-emphasys-text;
$navbar-dark-hover-color:           $high-emphasys-text;
$navbar-dark-active-color:          $high-emphasys-text;

@import "~bootstrap/scss/bootstrap";

body,
html {
  color: $low-emphasys-text;
}

a {
  color: $link;

  &:focus,
  &:hover {
    color: darken($link, 15%);
  }
}

.page-title {
  color: $high-emphasys-text;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0;
}

.wrapper-container {
  padding: 50px;
  background: rgba(0,0,0,.6);
}