@import './../style/main.scss';

#navigation {
  background-color: rgba($primary, .8);
}

.brand {
  width: 200px;
}

.navigation-nav{
  margin-top: 20px;
  width: 100%;

  @include media-breakpoint-up(lg){
    margin-top: 0;
    justify-content: right;
    width: 100%;
  }

  .nav-item {
    color: $light;
    text-decoration: none;
    padding: 15px;
    margin: 5px 0;
  
    &:hover{
      color: $navbar-light-active-color;
    }
  }
}